You (or someone else) asked to subscribe your email address @@addr to the newsletter of @@blogname.

To confirm this and select the categories you want to subscribe to, please visit:
@@conf_url

If you didn't subscribe to this newsletter, please just ignore this email.