<p>Thank you for subscribing <br \>
Please check your email inbox for the verification email. It contains a link to confirm your subscription. Then, you may also choose the @@blogname categories you want to stay informed about.</p>